@use "sass:color";
@use 'settings';

// --- Navigation ---
nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: settings.$gap-card-actions;
    row-gap: settings.$gap-card-inner; // Use inner gap?
    padding: settings.$padding-base settings.$padding-base 0 settings.$padding-base;
    margin: 0; // Added for consistency
    flex-wrap: wrap;
    li {
      flex-shrink: 1;
      display: inline;
      // Use specific action padding
      line-height: 1;

      a {
        display: inline;
        padding: settings.$padding-button-action-vertical settings.$padding-button-horizontal;
        border-radius: 0;
        font-size: 1.1em;
        font-weight: settings.$font-weight-medium;
        font-family: inherit;
        cursor: pointer;
        background-color: settings.$color-light-neutral-bg; // Konsistent mit Buttons
        color: settings.$color-light-neutral-text;
        border: 2px solid transparent;
        &.active {
          border-bottom-color: settings.$color-light-primary; // Akzent für aktiv
        }
        &:hover {
          background-color: color.adjust(settings.$color-light-neutral-bg, $lightness: 5%);
          color: settings.$color-light-primary; // Akzentfarbe für Text-Hover
        }
      }
    }
  }
}
