@import "tailwindcss";

@config "../tailwind.config.ts";

@theme {
  --spacing-circle-lg: calc(var(--spacing) * 24);
  --spacing-circle-md: calc(var(--spacing) * 16);
  --spacing-circle-offset-lg: calc(var(--spacing) * 0);
  --spacing-circle-offset-md: calc(var(--spacing) * -2);
  --spacing-circle-column-lg: calc(var(--spacing-circle-lg) + var(--spacing-circle-offset-lg));
  --spacing-circle-column-md: calc(var(--spacing-circle-md) + var(--spacing-circle-offset-md));
  --radius-rounded-lg: calc(var(--spacing-circle-lg) / 2);
  --radius-rounded-md: calc(var(--spacing-circle-md) / 2);
  --radius-circle-lg: calc(var(--radius-rounded-lg) - var(--spacing-circle-offset-lg));
  --radius-circle-md: calc(var(--radius-rounded-md) - var(--spacing-circle-offset-md));
  --text-pc: calc(var(--spacing-circle-lg) / 4);
  --text-tc: calc(var(--spacing-circle-md) / 1.5);
  --color-primary: var(--color-amber-200);
  --color-secondary: var(--color-teal-300);
  --color-normal: var(--color-indigo-300);
  --color-danger: var(--color-red-300);
  --color-primary-text: var(--color-amber-700);
  --color-secondary-text: var(--color-teal-800);
  --color-normal-text: var(--color-indigo-50);
  --color-danger-text: var(--color-red-600);
  --tw-shadow-color: var(--color-gray-900);
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-size: 16px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  #root {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  h1, h2 {
    font-size: 3.2em;
    font-weight: 700;
    line-height: 1.1;
  }

  h3 {
    font-size: 3em;
    line-height: 1.1;
  }

  h4 {
    font-size: 2.8em;
    line-height: 1.1;
  }

  h5, h6 {
    font-size: 2.4em;
  }

  button, a {
    cursor: pointer;
  }
}

@layer utilities {
  .btn {
    @apply rounded-sm h-7 px-2 shadow-sm hover:shadow-xs hover:translate-[1px] active:translate-0.5 transition-[transform,box-shadow]
  }
  .btn-primary {
    @apply bg-primary text-primary-text
  }
  .btn-secondary {
    @apply bg-secondary text-secondary-text
  }
  .btn-normal {
    @apply bg-normal text-normal-text
  }
  .btn-danger {
    @apply bg-danger text-white
  }
  .btn--disabled {
    @apply cursor-not-allowed
  }

  .input {
    @apply rounded-lg border px-3 py-2 text-sm focus:outline-none focus:ring-2 bg-white border-secondary focus:ring-blue-500
  }
  .input--error {
    @apply border-red-500 focus:ring-red-500
  }
  .input--disabled {
    @apply bg-primary cursor-not-allowed
  }

  .pill {
    @apply relative rounded-full px-2 py-0 text-xs whitespace-nowrap
  }
  .pill-primary {
    @apply bg-primary text-primary-text
  }
  .pill-secondary {
    @apply bg-secondary text-secondary-text
  }
  .pill-normal {
    @apply bg-normal text-normal-text
  }
}