@use "../../style/settings";
@use "../../style/lists_and_cards";
@use "../../style/dot";
@use "../../style/buttons";

li.dish-card {
  line-height: 1.5;

  .dish-type, .dish-price {
    @extend %dot-base;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: settings.$color-light-text; // Dunkler Text
  }

  .dish-actions {
    @extend %entity-card-actions-base;
    border-top-color: settings.$color-light-card-border; // Heller Rand
    a, button {
      @extend %button-base; // Basis-Chip-Style
      @extend %button-primary; // Standardfarbe für Aktionen (kann überschrieben werden)

      &.action--delete { // Füge diese Klasse im HTML/TSX hinzu
        @extend %button-danger;
      }
      &.action--secondary { // Füge diese Klasse im HTML/TSX hinzu
        @extend %button-secondary;
      }
      &.action--neutral { // Füge diese Klasse im HTML/TSX hinzu
        @extend %button-neutral;
      }
    }
  }

  .dish-type {
    height: settings.$size-card-type-circle;
    width: settings.$size-card-type-circle;
    padding: settings.$padding-card-type-circle;
    margin-top: settings.$position-card-type-circle - settings.$padding-card-type-circle * 2 - settings.$gap-card-inner * 3;
    margin-left: settings.$position-card-type-circle  - settings.$padding-card-type-circle * 2 - settings.$gap-card-inner * 3;
  }

  .dish-price {
    height: settings.$size-card-price-circle;
    width: settings.$size-card-price-circle;
    margin-bottom: settings.$position-card-price-circle;
    margin-right: settings.$position-card-price-circle;
    font-size: 110%;
    font-weight: bold;
    flex-direction: column;
  }

  .dish-type {
    grid-column-start: first;
    grid-column-end: span 1;
    grid-row-start: head;
    grid-row-end: span 2;
    place-self: end;
  }

  .dish-price {
    grid-column-start: last;
    grid-column-end: span 1;
    grid-row-start: foot;
    grid-row-end: span 1;
    place-self: start;
  }

  .dish-name {
    grid-column-start: middle;
    grid-column-end: span 3;
    grid-row-start: head;
    grid-row-end: span 2;
    place-self: end start;
    font-weight: bold;
    font-size: 110%;
  }

  .dish-info {
    grid-column-start: first;
    grid-column-end: span 2;
    grid-row-start: auto;
    grid-row-end: span 1;
    text-wrap: wrap;
  }

  .dish-image {
    grid-column-start: side;
    grid-column-end: span 2;
    grid-row-start: content;
    grid-row-end: span 1;
    width: auto;
    place-self: start end;
    img {
      width: 100%;
      max-height: 4.4rem;
      filter: drop-shadow(3px 5px 3px rgba(0,0,0,0.6));
    }
  }

  .dish-actions {
    grid-column-start: first;
    grid-column-end: span 3;
    grid-row-start: foot;
    grid-row-end: span 1;
    place-self: end start;
  }
}
